/* You should probably replace this with your own CSS */
/* body {
    width: 100vw;
    height: 100vh;
    background-image: url('/1.jpg');
    background-size: cover;
    font-size: calc(10px + 2vmin);
    color: rgb(250, 248, 247);
}

.custom-card {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
}

.game-title {
    color: black;
}
} */
