/* You should probably replace with with your own CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    background-image: url('/1.jpg');
    background-size: cover;
}

#navbar {
    background-color: rgb(106, 192, 198);
}

